@import 'common-styles/variables';

body {
    color: $main-color;
}

button{
    background: #b06f97;
    color: #333;
    font-size: 1.5em;
    font-family: ‘Georgia’, serif;
    font-style: italic;
    border-radius: 50px;
    padding: 10px 20px;
}

.linkAsButton{
    display: inline-block;
    margin: 16px;
    background: #b06f97;
    color: #333;
    font-size: 1.5em;
    font-family: ‘Georgia’, serif;
    font-style: italic;
    border-radius: 50px;
    padding: 10px 20px;
}
.home{
    text-align: center;
}